{% extends 'base.html.twig' %}

{% block stylesheets %}
    {{parent()}}
    {{ encore_entry_link_tags('register') }}
{% endblock %}

{% block title %}Mot de passe oublié{% endblock %}

{% block body %}
    <main class="container mt-4">
        {% include "_partials/_flashbag.html.twig" %}

        <div class="card mt-4 mx-auto w-50">
            <div class="card-header">
                <h1 class="h3 my-3">Mot de passe oublié</h1>
            </div>

            <div class="card-body">
                <form class="register" method="post">
                    {{ form_widget(forgotPasswordFormStep2.password.first, {'attr': {'class': 'register-pswd-first register-option', 'placeholder': 'Mot de passe'}}) }}

                    {{ form_widget(forgotPasswordFormStep2.password.second, {'attr': {'class': 'register-pswd-second register-option', 'placeholder': 'Confirmer'}}) }}

                    <div class="my-3">
                        <button type="submit" class="btn btn-ml btn-primary d-block mx-auto" type="submit">Entrez deux fois votre nouveau mot de passe.</button>
                        <br>
                        <small> Ce lien sera invalide à {{ passwordMustBeVerifiedBefore }}</small>
                    </div>

                    {{ form_end(forgotPasswordFormStep2) }}
                </form>
            </div>
        </div>
    </main>
{% endblock %}