{% extends 'base.html.twig' %}

{% block title %}Graphiques{% endblock %}

{% block body %}
    <div class="container">
        <div class="wrapper">
            <h3>{{ params.getLibelle('pele', 0) }}</h3>
            <div class="tab-pane" id="chartjs">
                <div class="row mt">
                    <div class="col-lg-8">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Inscriptions</h4>
                            <div class="panel-body text-center">
                                {{ render_chart(chart00, {'class': 'graph00'}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Voyage</h4>
                            <div class="panel-body">
                                <table class="table table-sm">
                                    <thead>
                                        <tr>
                                            <th scope="col"> </th>
                                            <th scope="col" class="text-center">Total</th>
                                            <th scope="col" class="text-center">Ind</th>
                                            <th scope="col" class="text-center">Voy</th>
                                            <th scope="col" class="text-center">A/R</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>Hospitaliers</td>
                                            <td class="text-center">{{tabTransp.HOSP.TOT}}</td>
                                            <td class="text-center">{{tabTransp.HOSP.IND}}</td>
                                            <td class="text-center">{{tabTransp.HOSP.VOY}}</td>
                                            <td class="text-center">{{tabTransp.HOSP.ALL}} / {{tabTransp.HOSP.RET}}</td>
                                        </tr>
                                        <tr>
                                            <td>Lycéens</td>
                                            <td class="text-center">{{tabTransp.LYCE.TOT}}</td>
                                            <td class="text-center">{{tabTransp.LYCE.IND}}</td>
                                            <td class="text-center">{{tabTransp.LYCE.VOY}}</td>
                                            <td class="text-center">{{tabTransp.LYCE.ALL}} / {{tabTransp.LYCE.RET}}</td>
                                        </tr>
                                        <tr>
                                            <td>Pers Malades</td>
                                            <td class="text-center">{{tabTransp.PMAL.TOT}}</td>
                                            <td class="text-center">{{tabTransp.PMAL.IND}}</td>
                                            <td class="text-center">{{tabTransp.PMAL.VOY}}</td>
                                            <td class="text-center">{{tabTransp.PMAL.ALL}} / {{tabTransp.PMAL.RET}}</td>
                                        </tr>
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <td>Total</td>
                                            <td class="text-center">{{tabTransp.TOT.TOT}}</td>
                                            <td class="text-center">{{tabTransp.TOT.IND}}</td>
                                            <td class="text-center">{{tabTransp.TOT.VOY}}</td>
                                            <td class="text-center">{{tabTransp.TOT.ALL}} / {{tabTransp.TOT.RET}}</td>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row mt">
                    <div class="col-lg-4">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Dossiers Hospitaliers</h4>
                            <div class="panel-body text-center">
                                {{ render_chart(chart11, {'class': 'graph11'}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Dossiers Lycéens</h4>
                            <div class="panel-body text-center">
                                {{ render_chart(chart12, {'class': 'graph12'}) }}
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="content-panel">
                            <h4><i class="fa fa-angle-right"></i> Dossiers Personnes Malades</h4>
                            <div class="panel-body text-center">
                                {{ render_chart(chart13, {'class': 'graph13'}) }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
